.book-list__wrapper {
    margin: 20px 15px;
}

.book-list {
    padding: 0;
}

.book-list__list-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 19px;
}

.book-list__item {
    list-style: none;
    padding: 15px;
    border: 1px solid #e5e5e5;
    margin: 15px 0;
}

.book-select {
    padding: 5px;
    margin: 15px 0;
}

.book-list__file-list {
    padding: 0;
}

.book-list__file-list-item {
    list-style: none;
}